.endscreen-design {
    text-align: center;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
}

.endscreen-design button {
    margin: 16px;
}

.card-container{
    background-color: rgb(95, 95, 95) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    border-radius: 0 !important;
}

.card-title {
    margin: 16px !important;
}

.main-card-body {
    padding: 0 !important;
}

.quiz-card {
    width: 45rem !important;
    margin: 0 20px;
    border: 3px solid lightgray !important;
}

.answer-card {
    margin: 0.5rem 16px;
}

.answer-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white;
}

.quiz-card-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    margin-top: 16px;
    padding: 8px;
    align-items: center;
}


@media (max-width: 850px){
    .quiz-card {
        position: absolute !important;
        width: 100% !important;
        right: 0;
        left: 0;
        bottom: 0;
        top: 121px;
        border-radius: 0 !important;
        border: none !important;
        margin: 0;
        height: fit-content !important;
    }

    .quiz-card img {
        border-radius: 0 !important;
    }

    .answer-card {
        margin: 1.3rem 16px;
    }

    .endscreen-design h2, h4, span {
        margin: 25px 0px;
    }
}

@media (max-width: 1100px){
    .question-answer-container h5 {
        margin: 32px 16px !important;
    }

    .quiz-card {
        position: absolute !important;
        width: 100% !important;
        right: 0;
        left: 0;
        bottom: 0;
        top: 121px;
        border-radius: 0 !important;
        border: none !important;
        margin: 0;
        height: fit-content !important;
    }

    .quiz-card img {
        border-radius: 0 !important;
    }

    .answer-container {
        margin-bottom: 64px;
    }

    .answer-card {
        margin: 2rem 16px;
    }

    .endscreen-design h2, h4, span {
        margin: 25px 0px;
    }
}